<div class="container">
  @if(isMobile) {
  <img
    src="./assets/icons/burger-menu.svg"
    alt="Menu Desplegable"
    class="burger-menu"
    (click)="showMenu()"
  />
  } @else {
  <nav class="menu-sidebar">
    <ul>
      @for(item of menuItems; track $index) {
      <li [routerLinkActive]="'active'">
        <a [routerLink]="item.route">
          <img [src]="item.icon" alt="{{ item.label }} Icon" />
          <span>{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </nav>
  }
</div>
