<div class="dashboard-container">
  <div class="cards-container">
    @for(participant of participants; track $index) { @if($index === 3){
    <div class="ia-advice-card">
      <div class="ia-advice-card__header">
        <div class="ia-advice-card__icon">💧</div>
        <h3 class="ia-advice-card__title">Consejo AIgua</h3>
      </div>
      <p class="ia-advice-card__content">
        Para ahorrar agua, cierra el grifo mientras te cepillas los dientes.
        Pequeños gestos hacen la diferencia.
      </p>
    </div>
    }
    <div
      class="card"
      [ngClass]="{
       'top-rank-1': $index === 0,
       'top-rank-2': $index === 1,
       'top-rank-3': $index === 2
     }"
    >
      <div class="user">
        <img
          src="assets/icons/person.svg"
          alt="User Avatar"
          class="user-avatar"
        />
        <span class="rank">{{ $index + 1 }}</span>
        <h2>{{ participant.name }}</h2>
      </div>
      <p>Puntos: {{ participant.points }}</p>
    </div>
    }
  </div>
</div>
