@if(data$ | async; as data) {
<div class="dashboard-container">
  <div class="cards-container">
    @for(participant of data; track $index) { @if($index === 3){
    <app-adviser></app-adviser>
    }
    <div
      class="card"
      [ngClass]="{
       'top-rank-1': $index === 0,
       'top-rank-2': $index === 1,
       'top-rank-3': $index === 2
     }"
    >
      <div class="user">
        <span class="rank">{{ $index + 1 }}</span>
        <h2>{{ participant.name }}</h2>
      </div>
      <p>Puntos: {{ participant.points }}</p>
    </div>
    }
  </div>
</div>
}
