.menu-sidebar {
  flex: 1;
  width: 200px;
  max-width: 200px;
  background: transparent;
}

.menu-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-sidebar li {
  margin-bottom: var(--space-sm);
}

.menu-sidebar a {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
  padding-left: 0;
  border-radius: var(--radius-md);
  text-decoration: none;
  color: var(--color-text);
}

.menu-sidebar a:hover {
  color: var(--color-primary-hover);
  filter: brightness(0) saturate(100%) invert(77%) sepia(22%) saturate(6541%)
    hue-rotate(165deg) brightness(102%) contrast(85%);
}

.menu-sidebar img {
  width: 24px;
  height: 24px;
}

.splitter {
  width: 100%;
  height: 2px;
  margin: 20px 0 20px 0;
  padding: 0 10px 0 10px;
  border-radius: 40%;
  background-color: var(--color-border);
}

/* Mobile - pequeño (teléfonos pequeños) */
@media (max-width: 320px) {
}

/* Mobile - estándar (teléfonos) */
@media (max-width: 480px) {
  .container {
    position: fixed;
    top: 78px;
    width: 100%;
    height: calc(100% - 78px);
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    z-index: 99999;
  }
}

/* Tablet - vertical (portrait) */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablet - horizontal (landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Laptop estándar */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* Desktop mediano */
@media (min-width: 1280px) and (max-width: 1599px) {
}

/* Desktop grande */
@media (min-width: 1600px) {
}
