.home-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main {
  margin-top: var(--space-md);
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-content {
  padding: 0 0 var(--space-lg) var(--space-lg);
  width: 100%;
  max-width: 900px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.footer {
  width: 100%;
}

/* Mobile - pequeño (teléfonos pequeños) */
@media (max-width: 320px) {
}

/* Mobile - estándar (teléfonos) */
@media (max-width: 480px) {
  .main-content {
    padding: 10px;
  }
  .sidebar {
    overflow: scroll;
  }
}

/* Tablet - vertical (portrait) */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablet - horizontal (landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Laptop estándar */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* Desktop mediano */
@media (min-width: 1280px) and (max-width: 1599px) {
}

/* Desktop grande */
@media (min-width: 1600px) {
}
