<header class="menu-header">
  @if(!isMobile) {
  <a [routerLink]="'/home'">
    <div class="logo">
      <span>AquaHero</span>
    </div>
  </a>
  }@else {
  <img
    src="./assets/icons/burger-menu.svg"
    alt="Menu Desplegable"
    class="burger-menu"
    (click)="showMenu()"
  />
  }
  <a [routerLink]="'/user'">
    <div class="user-info">
      <div class="user-details">
        @if(data$ | async; as data) {
        <p class="user-name">{{ data.data.users[randomUser()].name }}</p>
        } @else {
        <span class="skeleton-loader"></span>
        } @if(data$ | async; as data) {
        <p class="user-email">{{ data.data.users[randomUser()].name + '@gmail.com' }}</p>
        } @else {
        <span class="skeleton-loader"></span>
        }
      </div>
      <img src="assets/icons/person.svg" alt="User Avatar" class="user-avatar" />
    </div>
  </a>
</header>
