@if(user(); as user) {
<header class="menu-header">
  @if(!isMobile) {
  <a [routerLink]="'/home'">
    <div class="logo">
      <span>AquaHero</span>
    </div>
  </a>
  }@else {
  <img
    src="./assets/icons/burger-menu.svg"
    alt="Menu Desplegable"
    class="burger-menu"
    (click)="showMenu()"
  />
  }
  <a [routerLink]="'/user'">
    <div class="user-info">
      <div class="user-details">
        <p class="user-name">{{ user.name }}</p>
        <p class="user-email">
          {{ user.name + "@gmail.com" }}
        </p>
      </div>
      <img
        src="assets/icons/person.svg"
        alt="User Avatar"
        class="user-avatar"
      />
    </div>
  </a>
</header>
}
